{% load static %}
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title">Change Password</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
             </button>
          </div>
          <div class="modal-body">
            <form class="ajax reload" method="post"  enctype="multipart/form-data" action="{% url 'staffs:update_password' pk=instance.pk %}">
                {% csrf_token %}
                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-sm-6">
        
                                <div class="form-group fg-line">
                                    <label for="{{ form.password1.id_for_label }}">
                                        {{ form.password1.label }}
                                        {% if form.password1.field.required %}
                                            <small class="star text-danger">*</small>
                                        {% endif %}
        
                                        {% if form.password1.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.password1.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ form.password1 }}
        
                                    {% if form.password1.errors %}
                                        <label class="error">{{ form.password1.errors.as_text }}</label>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
        
                                <div class="form-group fg-line">
                                    <label for="{{ form.password2.id_for_label }}">
                                        {{ form.password2.label }}
                                        {% if form.password2.field.required %}
                                            <small class="star text-danger">*</small>
                                        {% endif %}
        
                                        {% if form.password2.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.password2.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ form.password2 }}
        
                                    {% if form.password2.errors %}
                                        <label class="error">{{ form.password2.errors.as_text }}</label>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="m-t-20">
                        <button type="submit" class="btn btn-success waves-effect">Submit</button>
                        </div>
                    </div>
            </form>
          </div>
       </div>
    </div>
</div> 


    {{dish_form.media}}
    <style>
        .select2-dropdown{
            z-index:1061 !important;
        }
        .select2-container--default{
            width: 100%;
        }
        .select2-container .select2-selection--single {
            height: calc(2.5em + .1rem + 1px);
        }
        .select2-container--default .select2-selection--single {
            border: 1px solid #e3ebf6;
        }
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            color: #4d65d9;
        }

        .dynamic-formset-add td{
            text-align: center !important;
        }
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 26px;
            position: absolute;
            top: 8px;
            right: 14px;
            width: 20px; 
        }.select2-container--default .select2-selection--single {
            border-radius: 1.25rem;
            line-height:1.75;
            padding: 0.5rem 1rem;
            font-size: 1rem;
        }
    </style>