{% extends 'dashboard/base.html' %}
{% load static %}


{% block content %}
    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">{{page_title}}</h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                                    <li class="breadcrumb-item active">{{app_name}}</li>
                                    <li class="breadcrumb-item active">{{page_title}}</li>
                                </ol>
                            </div><!--end col-->
                        </div><!--end row-->                                                              
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->
            
            <div class="row">
                <div class="card-body">
                    <form class="ajax reset redirect" method="post"  enctype="multipart/form-data" action="{{url}}">
                    {% csrf_token %}
                        <div class="card-body card-padding">
                            <div class="row">
                                <div class="col-sm-6">
            
                                    <div class="form-group fg-line">
                                        <label for="{{ form.name.id_for_label }}">
                                            {{ form.name.label }}
                                            {% if form.name.field.required %}
                                                <small class="star text-danger">*</small>
                                            {% endif %}
            
                                            {% if form.name.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ form.name }}
            
                                        {% if form.name.errors %}
                                            <label class="error">{{ form.name.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    {% if is_edit %}
                                        {% if instance.image %}
                                            <div class="lgi-heading">Existing Icon</div>
                                            <div class="main-Image" >
                                                <img src="{{ instance.image.url }}" alt="Image" style="width:200px; ">
                                            </div>
                                            <br />
                                        {% endif %}
                                    {% endif %}
            
                                    <div class="form-group fg-line">
                                        <label for="{{ form.image.id_for_label }}">
                                            {{ form.image.label }}
                                            {% if form.image.field.required %}
                                                <small class="star text-danger">*</small>
                                            {% endif %}
            
                                            {% if form.image.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ form.image.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ form.image }}
            
                                        {% if form.image.errors %}
                                            <label class="error">{{ form.image.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="preview">
                                        <img id="file-ip-1-preview">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- {{ form.shop }} -->
                                    <div class="form-group fg-line">
                                        <label for="{{ form.type.id_for_label }}">
                                            {{ form.type.label }}
                                            {% if form.type.field.required %}
                                                <small class="star text-danger">*</small>
                                            {% endif %}
            
                                            {% if form.type.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ form.type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ form.type }}
            
                                        {% if form.type.errors %}
                                            <label class="error">{{ form.type.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
            
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- {{ form.shop }} -->
                                    <div class="form-group fg-line">
                                        <label for="{{ form.is_verified.id_for_label }}">
                                            {{ form.is_verified.label }}
                                            {% if form.is_verified.field.required %}
                                                <small class="star text-danger">*</small>
                                            {% endif %}
            
                                            {% if form.is_verified.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ form.is_verified.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ form.is_verified }}
            
                                        {% if form.is_verified.errors %}
                                            <label class="error">{{ form.is_verified.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
            
                                </div>
                            </div>
                            
                            <div class="m-t-20">
                            <button type="submit" class="btn btn-success waves-effect">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
                <!-- end row -->
        </div><!-- container -->
    </div>


    
    {{form.media}}
    <!-- end page content -->
{% endblock content %}
{% block static %}
<style>
.preview img{
    width: 200px;
}
</style>
<script>
    $("#id_image").change(function(event){
            if(event.target.files.length > 0){
              var src = URL.createObjectURL(event.target.files[0]);
              var preview = document.getElementById("file-ip-1-preview");
              preview.src = src;
              preview.style.display = "block";
            }
          
        //alert("The text has been changed.");
      }); 
</script>
{% endblock %}
