{% extends 'dashboard/base.html' %}
{% load static %}


{% block content %}
    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">{{page_title}}</h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                                    <li class="breadcrumb-item active">{{app_name}}</li>
                                    <li class="breadcrumb-item active">{{page_title}}</li>
                                </ol>
                            </div><!--end col-->
                        </div><!--end row-->                                                              
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->
            
            <div class="row">
                <div class="card-body">
                    <form class="ajax reset redirect" method="post"  enctype="multipart/form-data" action="{{url}}">
                    {% csrf_token %}
                        <div class="card-body card-padding">
                            <div class="row">
                                <div class="col-sm-6">
            
                                    <div class="form-group fg-line">
                                        <label for="{{ form.gallery_type.id_for_label }}">
                                            {{ form.gallery_type.label }}
                                            {% if form.gallery_type.field.required %}
                                                <small class="star text-danger">*</small>
                                            {% endif %}
            
                                            {% if form.gallery_type.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ form.gallery_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ form.gallery_type }}
            
                                        {% if form.gallery_type.errors %}
                                            <label class="error">{{ form.gallery_type.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
    
                                    <div class="form-group fg-line">
                                        <label for="{{ form.file_type.id_for_label }}">
                                            {{ form.file_type.label }}
                                            {% if form.file_type.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}
    
                                            {% if form.file_type.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ form.file_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ form.file_type }}
    
                                        {% if form.file_type.errors %}
                                            <label class="error">{{ form.file_type.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="preview">
                                        <img id="file-ip-1-preview">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    {% if is_gallery_edit %}
                                        <div class="lgi-heading">Existing File</div>
                                        {% if instance.file_type == "10" %}
                                        <div class="main-Image" >
                                            <img src="{{ instance.file.url }}" alt="Image" style="width:300px; ">
                                        </div>
                                        {% else %}
                                        <video width="300" height="200" autoplay muted >
                                            <source src="{{instance.file.url}}" type="video/mp4">
                                          Your browser does not support the video tag.
                                          </video>
                                        {% endif %}
                                        <br />
                                    {% endif %}
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
    
                                    <div class="form-group fg-line">
                                        <label for="{{ form.file.id_for_label }}">
                                            {{ form.file.label }}
                                            {% if form.file.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}
    
                                            {% if form.file.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ form.file.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ form.file }}
    
                                        {% if form.file.errors %}
                                            <label class="error">{{ form.file.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div id="thumbnail_existing" class="row">
                                <div class="col-sm-6">
                                    {% if is_gallery_edit %}
                                        <div class="lgi-heading">Existing thumbnail</div>
                                        {% if instance.thumbnail %}
                                        <div class="main-Image" >
                                            <img src="{{ instance.thumbnail.url }}" alt="Image" style="width:200px; ">
                                        </div>
                                        {% endif%}
                                        <br />
                                    {% endif %}
                                    
                                </div>
                            </div>
                            <div id="thumbnail_form" class="row">
                                <div class="col-sm-6">
    
                                    <div class="form-group fg-line">
                                        <label for="{{ form.thumbnail.id_for_label }}">
                                            {{ form.thumbnail.label }}
                                            {% if form.thumbnail.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}
    
                                            {% if form.thumbnail.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ form.thumbnail.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ form.thumbnail }}
    
                                        {% if form.thumbnail.errors %}
                                            <label class="error">{{ form.thumbnail.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
    
                            </div>
                            
                            <div class="m-t-20">
                            <button type="submit" class="btn btn-success waves-effect">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
                <!-- end row -->
        </div><!-- container -->
    </div>


    
    {{form.media}}

    <!-- end page content -->
{% endblock content %}
{% block static %}
    {% load static %}
    {{form.media}}
    <style>
        .select2-container--default{
            width: 100%;
        }
        .select2-container .select2-selection--single {
            height: calc(2.5em + .1rem + 1px);
        }
        .select2-container--default .select2-selection--single {
            border: 1px solid #e3ebf6;
        }
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            color: #4d65d9;
        }

        .dynamic-formset-add td{
            text-align: center !important;
        }
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 26px;
            position: absolute;
            top: 8px;
            right: 14px;
            width: 20px; 
        }.select2-container--default .select2-selection--single {
            border-radius: 1.25rem;
            line-height:1.75;
            padding: 0.5rem 1rem;
            font-size: 1rem;
        }
        .preview img{
            width: 200px;
        }
        #thumbnail_form{
            display:none;
        }
        #thumbnail_existing{
            display: none;
        }
        </style>
        <script>
            $("#id_image").change(function(event){
                    if(event.target.files.length > 0){
                    var src = URL.createObjectURL(event.target.files[0]);
                    var preview = document.getElementById("file-ip-1-preview");
                    preview.src = src;
                    preview.style.display = "block";
                    }
                
                //alert("The text has been changed.");
            });
            $(window).on('load', function() {
                var optVal= $("#id_file_type option:selected").val();
                if (optVal == "20"){
                    document.getElementById("thumbnail_form").style.display = "block";
                    document.getElementById("thumbnail_existing").style.display = "block";
                }
            });
            $("#id_file_type").change(function(){
                var optVal= $("#id_file_type option:selected").val();
                if (optVal == "20"){
                    document.getElementById("thumbnail_form").style.display = "block";
                    document.getElementById("thumbnail_existing").style.display = "block";
                }
                else {
                    document.getElementById("thumbnail_form").style.display = "none";
                    document.getElementById("thumbnail_existing").style.display = "none";
                }

            });
        </script>
    {% endblock  %}