{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">{{page_title}} </h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'app' %}">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'shops:shop_reviews' %}">{{app_name}}</a></li>
                                    <li class="breadcrumb-item active">{{page_title}} : <span class="text-dark font-weight-bold"> {{instance.title}}</span></li>
                                </ol>
                            </div><!--end col-->
                            <div class="col-auto align-self-center">
                                <a class="action-button remove redirect btn btn-outline-danger btn-icon-text"
                                data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'shops:shop_review_delete' pk=instance.pk %}">Delete <i class="las la-trash btn-icon-append"></i></a>
                            </div><!--end col-->  
                        </div><!--end row-->                                                              
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div><!--end row-->
            <div class="row">
                <div class="card">
                    <div class="card-body">

                    
                        <div class="col-6" >                       
                                
                                <h6 class="text-dark ">Shop : </h6>
                                <p class="item-text">{{instance.shop}}</p>

                                <h6 class="text-dark ">Customer : </h6>
                                <p class="item-text">{{instance.customer.name}}</p>

                                <h6 class="text-dark ">Date & Time : </h6>
                                <p class="item-text">{{instance.date_added}}</p>

                                <h6 class="text-dark ">Review : </h6>
                                <p class="item-text">{{instance.review}}</p>
                            
                        </div>
                        
                    </div> 
                </div>
                

            </div> <!-- end row -->


        </div><!-- container -->
    </div>
    <!-- end page content -->
{% endblock content %}
{% block static %}
<style>
    
    
</style>
{% endblock %}
        